__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/
.codex
.codex/

.sync.ffs_db

*.log
*.csv
*.db
*.sqlite
*.sqlite3

*.las
*.laz
*.ply
*.tif
*.tiff
*.vrt
*.aux.xml

env_history.csv
pipeline_P1.log
performance_P1.csv

workspace_*/
logs/
Produtos_Raster/

tmp/
*.tmp

P2/L40S/lib_container/
